modules = ["nodejs-20"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bots"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bots Running"

[[workflows.workflow]]
name = "Discord Bots"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd DiscordBot && node index.js"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Discord Bots Running"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd DiscordBot && node index.js"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 10000
externalPort = 80
